<head>
<title> template of header </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style type = "text/css">
  .brand2{
      background:  #8b1a32  !important;
      color: white;
  }
  .brand{
      background: #8b1a32 !important;

  }
  .brand-text{
      color: #8b1a32 !important;

  }

  form{
      max-width : 500px;
      margin: 20px auto;
      padding: 40px;

  }
  footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8b1a32;
   color: white;
   text-align: center;
   padding: 20px;
  }

</style>


</head>

<body class = "grey lighten-4">
<nav class = "white z-depth-0">
 <div class = "cointainer">
    <a href ="#" class = "brand-logo brand-text"> Food Alley </a>
    <ul id = "nav-mobile" class ="right hide-on-small-and-down">
       <li><a href = "../controller/admin_index.php" class ="btn brand z-depth-0"> Home </a><li>
       <li><a href = "../model/displayorder.php" class ="btn brand z-depth-0"> View Orders</a><li>
       <li><a href = "../model/add-fooditem.php" class ="btn brand z-depth-0"> Add a new food item</a><li>
       <li><a href = "../model/manage-fooditems.php" class ="btn brand z-depth-0"> Delete a food item</a><li>
      
    </ul>
       
</div>
</nav>