<head>
<title> template of header </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style type = "text/css">
  .brand2{
      background:  #5d6d7e  !important;
      color: white;
  }
  .brand{
      background: #c0392b !important;

  }
  .brand-text{
      color: #c0392b !important;
  }
</style>
</head>
<body>
<table class ="tbl-full">
  <tr>
     <th>Name </th>
     <th>Price </th>
     <th>Actions </th>
  </tr>
</body>
</table>
