<!DOCTYPE html>
<html>
<head>
	<title>Admin dashboard template</title>
	<style>
    div.adm{
		Color: black;
		background :  #d5dbdb ;
		text-align: center;
        padding: 20px;
		font-size: 30px;
		
	}
	p{
		font-weight: bold;
		
	}
	</style>
</head>
<body>
<div class ="adm">
<br><br>
<h3>Customer Panel for Food Alley</h3>
 <P> Food Alley invites you to enjoy the ultimate food feast </p> 
  <h5> We are here to ensure that this quarantine is a little bit less painful. You will have all your favorite food items under one platform. </h5>
 <br><br><br><br><br><br><br><br>
</div>