body
{
	
	background: url("../images/customer.jpg");
	background-size: cover;
	font-family: 'Roboto', sans-serif;

}
.loginBox
{
	position: absolute;
	top: 20%;
	left: 37%;
	bottom: 20%;
	transform: translate(-10%, 0%);
	width: 500px;
	height:400px;
	padding: 50px 20px 220px 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.8);
}

h2
{
	text-align: center;
	margin: 0;
	padding:20px 0 20px;
	color: white;
}
.loginBox p
{
	margin:0;
	padding:0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	background:transparent;
	outline: none;
	border-bottom: 1px solid #fff;
	height: 40px;
	color: #fff;
	font-size: 16px;

}
.loginBox input[type="submit"]
{
	background:#990012;
	color:#fff;
	border-radius: 20px;
	cursor:pointer;

}

.loginBox input[type="submit"]:hover
{
 background: #D4AF37;
 color: #262626;
 transition: 1s;
 font-size:20px;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	
}
  